body {
    margin: 0;
    width: 1400px;
    background-color: rgb(231, 231, 185);
} 
/* HEADER */
nav {
    padding-top: 5px;
    padding-bottom: 5px;
    width: 1400px;
    height: 30px;
    background-color: bisque;
}
a {
    margin-left: 30px;
    margin-top: 10px;
    padding: 5px;
    width: 45px;
    background-color: aquamarine;
    font-family: sans-serif;
}
a.formulario{
    margin-left: 1015px;
    margin-right: 20px;
}

/* MAIN */
img {
    width: 500px; 
    margin-left: 450px; /*Deberian por calculos ser esto*/
    height: auto;
    margin-right: 450px;
}

.sugerencias {
    background-color: rgb(157, 157, 247);
    margin: 5px;
    margin-left: 15px;
    margin-bottom: 310px;
    padding: 10px;
    width: 320px;
    height: 330px;
    display: inline-block;
    vertical-align: top;
}

p {
    margin: 5px;
    font-family: sans-serif;
}

form {
    padding: 5px;
    height: 280px;
    font-family: sans-serif;
}

.graficos {
    background-color: rgb(198, 249, 232);
    margin-top: 5px;
    margin-left: 25px;
    margin-bottom: 10px;
    padding: 10px;
    width: 970px;
    height: 630px;
    display: inline-block;
}

.contacto {
    margin-top: 5px;
    margin-left: 15px;
    padding: 10px;
    margin-left: 25px;
    background-color: rgb(242, 170, 176);
    width: 320px;
    display: inline-block;
    vertical-align: top;
}

.tabla {
    background-color: rgb(197, 255, 236);
    margin-top: 5px;
    margin-left: 25px;
    margin-bottom: 10px;
    padding: 10px;
    width: 970px;
    height: 500px;
    display: inline-block;
}

table {
    padding: 10px;
    width: 970px;
    height: 500px;
}
