body {
    margin: 0;
    width: 1400px;
    background-color: rgb(243, 243, 238);
} 
/* HEADER */
nav {
    padding-top: 5px;
    padding-bottom: 5px;
    width: 1400px;
    height: 30px;
    background-color: bisque;
}
a {
    margin-left: 30px;
    margin-top: 10px;
    padding: 5px;
    width: 45px;
    background-color: rgb(198, 228, 153);
    font-family: sans-serif;
}
a.formulario{
    margin-left: 1015px;
    margin-right: 20px;
}

/* MAIN */
img {
    width: 500px; 
    margin-left: 450px; /*Deberian por calculos ser esto*/
    height: auto;
    margin-right: 450px;
}

img.grafico {
    width: 955px;
    margin: 10px;
}

.sugerencias {
    background-color: rgb(196, 255, 229);
    margin: 5px;
    margin-left: 15px;
    margin-bottom: 310px;
    padding: 10px;
    width: 320px;
    height: 330px;
    display: inline-block;
    vertical-align: top;
}

p {
    margin: 5px;
    font-family: sans-serif;
}
h2 {
    text-align: center;
    font-family: Arial, sans-serif; 
    font-style: italic;             
    color: #043b29;
    letter-spacing: 3px;
}

form {
    padding: 5px;
    height: 280px;
    font-family: sans-serif;
}

.graficos {
    background-color: rgb(198, 249, 232);
    margin-top: 5px;
    margin-left: 25px;
    margin-bottom: 10px;
    padding: 10px;
    width: 970px;
    height: 600px;
    display: inline-block;
}

.contacto {
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 15px;
    padding: 10px;
    margin-left: 25px;
    background-color: rgb(242, 170, 176);
    width: 320px;
    display: inline-block;
    vertical-align: bottom;
}

.tabla {
    background-color: rgb(197, 255, 236);
    margin-top: 5px;
    margin-left: 25px;
    margin-bottom: 10px;
    padding: 10px;
    width: 970px;
    height: 500px;
    display: inline-block;
}

table {
    padding: 10px;
    width: 970px;
    height: 500px;
}
