body {
    background-color: rgb(206, 235, 235);
    width: 100vw;
    height: 100%;
    margin: 0;
    padding: 0;
}
/* ENCABEZADO */
header {
    background-color: rgb(236, 145, 232);
    width: 100vw;
    height: 80%;
}
.navegador, .sesion {
    display: inline-block;
    vertical-align: top; /* Esto asegura que ambos estén alineados en la parte superior */
}

.navegador {
    margin-right: 20px; /* Espacio entre los divs, puedes ajustar el valor */
}
/* CUERPO */
main {
    background-color: rgba(68, 208, 240, 0.303);
    width: 100vw;
    height: 100%;
    margin: 0;
    padding: 0;
    border-radius: 15px;
}
.informacion, .derecha {
    display: inline-block;
    vertical-align: top;
}
/* PANEL IZQUIERDO */
.informacion {
    width: 170px;
    height: 100%;
    background-color: brown;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
}
.contacto {
    width: 200px;
    height: 100%;
    margin: 5px;
    background-color: blueviolet;
    border-radius: 5px;
}
/* PANEL DERECHO */
.derecha {
    width: 570px;
    height: 250px;
    padding: 10px;
    background-color: rgba(128, 255, 0, 0.277);
    margin: 5px;
    border-radius: 5px;
}
p {
    background-color: antiquewhite;
    width: 100%;
}
/* PIE */
footer {
    background-color: azure;
    width: 100vw;
    height: 30%;
}