body {
    margin: 0;
    background-color: #F5F5DC;
    font-family: sans-serif;
} 

.contenedor-principal {
    display: flex; /* Flexbox para layout bidireccional flexible */
    justify-content: center; /* Centra horizontalmente los elementos hijos */
    align-items: center; /* Centra verticalmente los elementos hijos */
    gap: 30px; /* Espacio automático entre elementos flex sin usar margin */
    padding: 20px;
    max-width: 1400px; /* Limita el ancho máximo */
    margin: 0 auto; /* Centra el contenedor en dispositivos/pantallas más anchas */
}

img {
    width: 500px; 
    height: auto;
}

h1 {
    margin: 0;
    margin-bottom: 20px;
    padding: 5px;
    text-align: center;
    color: rgb(3, 36, 25);
}

form {
    width: 260px;
    padding: 10px;
    background-color: rgb(99, 158, 138);
    border-radius: 3%; /* Bordes redondeados proporcionales al tamaño del elemento */
    box-shadow: 5px 5px 15px rgba(0,0,0,0.3); /* Sombra con blur para efecto de profundidad */
}

.area {
    width: 145px;
    margin-top: 9px;
    margin-bottom: 9px;
}

#nombre {
    margin-left: 25px;
}

#email {
    margin-left: 42px;
}

#telefono {
    margin-left: 21px;
}

label {
    margin-top: 20px;
    font-weight: bold;
}

.botones{
    width: 130px;
    margin-left: 70px;
    margin-top: 10px;
}

footer {
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}