body {
    margin: 0;
    width: 1400px;
    background-color: #F5F5DC;
    font-family: sans-serif;
} 
img {
    width: 500px; 
    margin-left: 450px; /*Deberian por calculos ser esto*/
    height: auto;
    margin-right: 450px;
}
h1 {
    margin: 0;
    margin-bottom: 20px;
    padding: 5px;
    margin-left: 628px;
    width: 150px;
    color: rgb(3, 36, 25);
}
form {
    width: 250px;
    padding: 10px;
    margin-left: 565px;
    background-color: rgb(99, 158, 138);
    border-radius: 3%;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.3);
}
.area {
    width: 145px;
    margin-top: 9px;
    margin-bottom: 9px;
}
#nombre {
    margin-left: 25px;
}
#email {
    margin-left: 42px;
}
#telefono {
    margin-left: 21px;
}
label {
    margin-top: 20px;
    font-weight: bold;
}
.botones{
    width: 130px;
    margin-left: 70px;
    margin-top: 10px;
}